<% if user_signed_in? %>
<%= link_to 'New Pinner', new_pinner_path %>
<% end %>

<div id="pinners" class="transitions-enabled">

    <% @pinners.each do |pinner| %>
    <div class="box panel panel-default">
      <%= image_tag pinner.image.url(:medium) %>
      <div class="panel-body">
        <%= pinner.description %>
        <%= pinner.user.email if pinner.user %>
        <%= link_to 'Show', pinner_path(pinner) %>
       <% if pinner.user == current_user %> 
        <%= link_to 'Edit', edit_pinner_path(pinner) %>
        <%= link_to 'Destroy', pinner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </div>
      </div>
    <% end %>
</div>



